#global
*.pyc
__pycache__/
.pytest_cache/
.coverage
htmlcov/

#home

#arschaim
/arschaim/forum/

#images
/images/venv/

/images/instance/

/images/site/static/albums/

/images/images.log

/images/images.wsgi

#music

#school
