#global
*.pyc
__pycache__/
.pytest_cache/
.coverage
htmlcov/

#home

#arschaim
/arschaim/forum/

#images
/images/venv/
/images/instance/
/images/website/static/albums/
/images/website/static/outsidecam/
/images/images.log
/images/images.wsgi
/images/website/wsgi.py
/images/.imagestream

.vscode/
#music

#school
/school/projects/ACCIT/project9/constants.php