:root {
	--main-bg-color: #CEEBAD;
	--secondary-bg-color: #adda7b;
	--main-p-color: #006144;
	--main-p-font: 1em "Comic Sans MS", "Comic Sans", sans-serif;
	--main-footer-font: 1em "Comic Sans MS", "Comic Sans", sans-serif;
	--main-h1-color: #000000;
	--main-h1-font: 2.25em "Times New Roman", serif;
	--main-h2-color: #571b1b;
	--main-h2-font: 1.75em "Times New Roman", serif;
	--main-a-link-color: #8a9be6;
	--main-a-visited-color: #7063be;
	--main-a-hover-color: #107F61;
}


body {
	background-color: var(--main-bg-color);
	cursor: progress;
}


h1 {
	color: var(--main-h1-color);
	text-align: center;
}

p {
	color: var(--main-p-color);
	font-family: "Comic Sans MS", "Comic Sans", sans-serif; 
}

/*Links*/

a:link {
	color: var(--main-a-link-color);
}

a:visited {
	color: var(--main-a-visited-color);
}

a:hover {
	color: var(--main-a-hover-color);
	cursor: progress;
}
