{% extends 'base.html' %}

{% block title %} images.abdeet.net {% endblock %}
{% block header %} Welcome to Abdeet's photo repository. {% endblock %}
{% block url %} {{ 'images.abdeet.net'~url_for('home')}} {% endblock %}
{% block description %} images.abdeet.net is Abdeet's photo repository, containing many pictures that he has taken. {% endblock %} 
{% block image %} {{ 'https://images.abdeet.net'~url_for('static', filename='albums/'~random_image(albums, True))}} {% endblock %}

{% block content %}   
    <h2>List of albums</h2>
    <ul>
        {% for album_id in albums %}
        <li>
            <a href="{{ url_for('album', album_id=album_id) }}"">
                <p>{{ get_json(album_id)["album"]["title"] }}</p>
                <img src="{{ url_for('static', filename='albums/'~album_id~'/'~random_image(album_id)) }}" height="300">
            </a>
        </li>
        {% endfor %}
    </ul>
{% endblock %} 
