:root {
	--main-bg-color: #CFEDF2;
	--secondary-bg-color: #8dc7d1;
	--main-p-color: #012A36;
	--main-h-color: #363732;
	--main-a-link-color: #6A80E0;
	--main-a-visited-color: #23B5D3;
	--main-a-hover-color: #107F61;
}


body {
	background-color: var(--main-bg-color);
}


h1 {
	color: var(--main-h-color);
	margin: auto;
	text-align: center;
}

h2 {
	color: var(--main-h-color);
	margin: auto;
	text-align: center;
}

p {
	color: var(--main-p-color);
	font-family: "Comic Sans MS", "Comic Sans", cursive;
}

.content{
	margin: auto;
	width: 90%;
}

.description{
	margin: auto;
	width: 60%;
}

.image-group {
	margin: auto;
	overflow: hidden;
	text-align: center;
}
.single-image {
	padding: 1em 1em 0;
	margin: auto 0.5em 1em;
	display: inline-block;
}

.secondary-background {
	background-color: var(--secondary-bg-color);
}

footer{
	margin: auto;
	text-align: center;
	width: 90%;
}

/*Links*/

a:link {
	color: var(--main-a-link-color);
}

a:visited {
	color: var(--main-a-visited-color);
}

a:hover {
	color: var(--main-a-hover-color);
}

.no-underline{
	text-decoration: none;
}