<!DOCTYPE html>

<title>{% block title %}{% endblock %}</title>
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:creator" content="@abdeet_">
<meta property="og:url" content="{% block url %}{% endblock %}">
<meta property="og:title" content="{{ self.title() }}">
<meta property="og:description" content="{% block description %}{% endblock %}">
<meta name="twitter:image" content="{% block image %}{% endblock %}">
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

<section class="content">
    <a href="https://images.abdeet.net"><p>images.abdeet.net</p></a>
    {% for message in get_flashed_messages() %}
        <div class="flash">{{ message }}</div>
    {% endfor %}
    {% block content %}{% endblock %}
</section>

<footer>
    <p>This sub-site is brought to you by <a href="https://abdeet.net">abdeet.net</a></p>
</footer>

