{% extends 'base.html' %}

{% block title %} images.abdeet.net {% endblock %}

{% block url %} {{ 'images.abdeet.net'~url_for('home')}} {% endblock %}
{% block description %} images.abdeet.net is Abdeet's photo repository, containing many pictures that he has taken. {% endblock %} 
{% block image %} {{ 'https://images.abdeet.net'~url_for('static', filename='albums/'~random_image(albums, True, True))}} {% endblock %}

{% block content %}
    <br>
    <h1>Welcome to Abdeet's photo repository.</h1>
    <br>
    <br>
    <div class="image-group">
        {% for album_index in range(albums |length + 1) %}
        <div class="single-image {% if loop.index %2 == 0 %} secondary-background {% endif %}">
	    {% if album_index == albums |length %}
	    <a class="no-underline" href="{{ url_for('outsidecam') }}">
	        <img src="{{ url_for('static', filename='outsidecam/'~outsidecam_image) }}" height="300">
	        <p><b>OutsideCam</b></p>
	    </a>
	    {% else %}
            <a class="no-underline" href="{{ url_for('album', album_id=albums[album_index]['filename']) }}">
                <img src="{{ url_for('static', filename='albums/'~albums[album_index]['filename']~'/thumbnails/'~random_image(albums[album_index]['filename'], True)) }}" height="300">
                <p><b>{{ albums[album_index]['title'] }}</b></p>
            </a>
	    {% endif %}
        </div>
        {% endfor %}
    </div>
{% endblock %} 
