{% extends 'base.html' %}

{% block title %} OutsideCam {% endblock %}
{% block url %} {{ 'images.abdeet.net'~url_for('outsidecam') }} {% endblock %}
{% block description %} OutsideCam is a project where I take pictures from my dorm room window every five minutes using a Raspberry Pi. Every day's images are converted into a GIF.{% endblock %} 
{% block image %} {{ 'https://images.abdeet.net'~url_for('static', filename='outsidecam/'~newest_image['filename']) }} {% endblock %}

{% block content %}
    <br>
    <h1>OutsideCam</h1>
    <div class="description">
        <p class="center">OutsideCam was a project where I took pictures from my dorm room window every five minutes using a Raspberry Pi. Every day's images were converted into a GIF.</p>
        <p class="center"><b>OutsideCam is currently down as I am no longer in a dorm with a good view. Next year, I aim to resurrect it with improved image quality and a more robust camera mount.</b></p>
	<br>
	{% if newest_image != None %}
        <p class="center">{{ "This image was taken on "~newest_image['date'] }}</p>
	{% endif %}
    </div>
    {% if newest_image != None %}
    <div class="image-group">
        <div class="full-image">
            <a href="{{ url_for('static', filename='outsidecam/'~newest_image['filename']) }}"><img src="{{ url_for('static', filename='outsidecam/'~newest_image['filename']) }}" height="600"></a>
        </div>
    </div>
    {% endif %}
    <div class="description">
        <p class="center"><a href="{{ url_for('outsidecam_images', page_number=1) }}">Today's Images</a></p>
	<br>
	{% if newest_gif != None %}
        <p class="center">{{ "This GIF is from "~newest_gif['date'] }}</p>
	{% endif %}
    </div>
    {% if newest_gif != None %}
    <div class="image-group">
        <div class="full-image">
            <a href="{{ url_for('static', filename='outsidecam/'~newest_gif['filename']) }}">
	        <video height="600" autoplay muted loop>
		    <source src="{{ url_for('static', filename='outsidecam/'~newest_gif['filename']) }}" type="video/mp4">
		    Your browser does not support the video tag.
		</video>  
	    </a>
        </div>
    </div>
    {% endif %}
    <div class="description">
        <p class="center"><a href="{{ url_for('outsidecam_gifs', page_number=1) }}">GIF Archive</p>
    </div>
{% endblock %} 
