{% extends 'base.html' %}

{% block title %} OutsideCam Image Archive{% endblock %}
{% block url %} {{ 'images.abdeet.net'~url_for('outsidecam_images', page_number=page_number) }} {% endblock %}
{% block description %} This image was captured from a Raspberry Pi pointing outside my dorm room window. {% endblock %} 
{% block image %} {{ 'https://images.abdeet.net'~url_for('static', filename='outsidecam/'~new_image['filename']) }} {% endblock %}

{% block content %}
    <br>
    <h1>OutsideCam Image Archive</h1>
    <div class="description">
        <h3 class="center"><a href="{{ url_for('outsidecam') }}">Return to main page</a></h3>
	<br>
	{% if new_image != None %}
	<p class="center">{{ 'This image was taken with a Raspberry Pi from my dorm room window on '~new_image["date"]}}</p>
	{% endif %}
    </div>
    {% if new_image != None %}
    <div class="image-group">
        <div class="full-image">
            <a href="{{ url_for('static', filename='outsidecam/'~new_image['filename']) }}"><img src="{{ url_for('static', filename='outsidecam/'~new_image['filename']) }}" height="600"></a>
        </div>
    </div>
    <br>
    {% endif %}
    {% if other_images != None %}
    <div class="image-group">
        {% for image in other_images %}
        <div class="single-image {% if loop.index %2 == 0 %} secondary-background {% endif %}">
            <a class="no-underline" href="{{ url_for('static', filename='outsidecam/'~image['filename']) }}">
                <img src="{{ url_for('static', filename='outsidecam/'~image['filename']) }}" height="300">
                <p><b>{{ image['date'] }}</b></p>
            </a>
        </div>
        {% endfor %}
    </div>
    {% endif %}
    <div class="description">
        {% if page_number == 1 %}
	    {% if page_number < max_pages %}
                <p><span>&#8203;</span><span class="right"><b><a href="{{ url_for('outsidecam_images', page_number=2) }}">Next Page</a></b></span></p>
	    {% endif %}
	{% else %}
	    {% if page_number >= max_pages %}
	    <p><span><b><a href="{{ url_for('outsidecam_images', page_number=page_number-1) }}">Previous Page</a></b></span></p>
	    {% else %}
	        <p><span><b><a href="{{ url_for('outsidecam_images', page_number=page_number-1) }}">Previous Page</a></b></span><span class="right"><b><a href="{{ url_for('outsidecam_images', page_number=page_number+1) }}">Next Page</a></b></span></p>
	    {% endif %}
	{% endif %}
    </div>
{% endblock %} 
